.app-main{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

}

.app-container{
    display: flex;
    /* justify-content: ; */
    /* align-items: center; */
    gap: 50px;
    /* background-color: beige; */
}

.routes-container{
    
}